body {

  /* For the Footer Menu */
  //padding-bottom: 51px;

}

.clear {
  clear: both;
}

#floatTools {
        @media (max-width:@screen-xs-max) {
            #aFloatTools_Hide {
                display:none;
            }
        }
        @media (min-width:@screen-xs-max) {
            #aFloatTools_Show {
                display:none;
            }            
        }
    #divFloatToolsView {
        @media (max-width:@screen-xs-max) {
            display:none;
        }
    }
}

.dmbs-container {
    background-color:@brand-header-bg;
}

.dmbs-header {
    background-color:@brand-header-bg;
    .dmbs-header-text {
        h1 a {
            color:@brand-header;
            &:hover,
            &:active {
                text-decoration:none;
            }
        }
        h4 {
            color:@brand-header;
        }
    }
}

.dmbs-header-img {
    background-color:@brand-header-bg;
    padding:0px;
}

.dmbs-header-text {
    background-color:@brand-header-bg;
}

.dmbs-top-menu {
    .navbar {
        margin-bottom:0px;
        border:0px;
        background-color:@brand-header-bg;
        .navbar-header {
            button {
                background-color:@navbar-nav-hover;
                border-color:@navbar-nav-hover;
            }
        }
        .navbar-collapse{
            @media (max-width: @screen-xs-max) {
                background-color:@brand-header-bg;
                border-color:@navbar-nav-hover;
                .navbar-nav {
                    > li {
                        a {
                            color:@navbar-font-color;
                            background-color:@brand-header-bg;
                            &:hover,
                            &:active {
                                background-color:@navbar-nav-hover;
                                color:@white;
                            }
                        }
                    }
                }
            }
            @media (min-width: @screen-xs-max) {
                padding:20px 0;
                background-color:@brand-header-bg;
                .navbar-nav {
                    width:100%;
                    > li {
                        float:none;
                        width:100%;
                        background-color:@brand-header-bg;
                        > a {
                            foat:none;
                            color:@navbar-font-color;
                            cursor:pointer;
                            background-color:@brand-header-bg;
                            text-align:center;
                            padding:5px;
                            &:hover,
                            &:active {
                                color:@white;
                                background-color:@navbar-nav-hover;
                            }
                            &:focus {
                                color:@gray-darker;
                                background-color:@brand-header-bg;
                            }
                        }
                    }
                    .dropdown-menu {
                        padding:0px;
                        float:none;
                        z-index:auto;
                        position:relative;
                        >li > a {
                            text-align:center;
                            color:@white;
                            background-color:@navbar-nav-hover;
                            padding:5px;
                            &:hover,
                            &:focus {
                                background-color:@navbar-nav-hover-dark;
                            }
                        }
                    }
                }
            }
        }
    }
}

.dmbs-content {
    background-image: url("../img/bg.png");
    background-repeat: repeat-y;
}

.dmbs-main {
    .top-search {
        background-color:@search-bg;
        padding:15px;
        #searchform {
            > div {
                > label {
                    display:none;
                }
                #s {
                    height:40px;
                    line-height:40px;
                    float:left;
                    border-top-right-radius:0;
                    border-bottom-right-radius:0;
                    box-shadow:none;
                    -webkit-box-shadow:none;
                    border-right:0px;
                    @media (max-width: @screen-xs-max){
                        width:85%;
                    }
                    @media (min-width: @screen-xs-max){
                        width:92%;
                    }
                }
                #searchsubmit{
                    padding:0px;
                    margin:0px;
                    text-indent:-10000px;
                    height:40px;
                    display:inline;
                    float:left;
                    clear:right;
                    border-top-left-radius:0;
                    border-bottom-left-radius:0;
                    @media (max-width: @screen-xs-max){
                        background:url("../img/t_c-search.png") no-repeat center;
                        background-color:@white;
                        border:solid 1px @white-dark;
                        border-left:none;
                        width:15%;
                    }
                    @media (min-width: @screen-xs-max){
                        background:url("../img/t_c-search_white.png") no-repeat center;
                        background-color:@navbar-nav-hover;
                        width:8%;
                        border:none;
                        &:hover,
                        &:focus {
                            opacity:0.8;
                        }
                    }
                }
            }
        }
    }
    
    .content-header {
        background-color:@content-header-bg;
        max-height:150px;
        margin-bottom:20px;
        img {
            height:100%;
        }
        .content-header-title {
            h1 {
                color:@content-header-title;
                font-weight:bold;
                text-shadow:2px 2px 5px @gray-light;
                @media (min-width:@screen-sm-min) {
                    letter-spacing:15px;
                    padding-top:10px;
                    padding-bottom:10px;
                }
                @media (max-width:@screen-sm-min) {
                    text-align:center;
                    letter-spacing:5px;
                    font-size:24px;
                }
            }
        }
        
        .content-header-link {
            @media (max-width:@screen-xs-max) {
                padding-right:0px;
            }
            @media (min-width:@screen-xs-max) {
                padding-right:30px;
            }
            a {
                display:inline-block;
                background-color:@content-header-title;
                border:solid 2px @content-header-link-border;
                color:@white;
                &:hover,
                &:active {
                    text-decoration:none;
                    background-color:@content-header-link-border;
                    border:solid 2px @content-header-title;
                }
                @media (min-width:@screen-lg-min) {
                    padding:10px 20px;
                }
                @media (max-width:@screen-lg-min) {
                    margin:5px 0px;
                    padding:5px 0px;
                    width:80px;
                    text-align:center;
                    
                }
            }
        }
    }
    
    .main-content {
        background-color:@main-content-bg;
    }
    
    .recent_news_scroll {
        margin:20px 0px;
    }
    
    .schools-images {
        margin-top:20px;
        .school-thumbs {
            > div {
                margin-bottom:20px;
                a {
                    &:hover,
                    &:active {
                        opacity:0.8;
                    }
                }
                img {
                        width:100%;
                        height:100%;
                }
            }
        }
    }
    
    .sina-youku {
        .youku {
            .youku-videos{
                @media (max-width: @screen-xs-max) {
                    
                }
                @media (min-width: @screen-xs-max) {
                    
                }
            }
            .youku-list {
                div {
                    padding-left:0;
                    background-color:#303030;
                }
            }
        }
    }
}

.sidbar-left {
     
}

.dmbs-left {
    padding:0px;
    margin:0px;
    background-color:@brand-header-bg;
    .sidebar-contact img {
        width:100%
    }
    #wpcf7-f9-o1 {
         .wpcf7-form {
             background:url("../img/contac_form-bg.png") no-repeat;
             background-size:100%;
             background-color: @search-bg;
             padding:70px 20px 30px 10px;
             .row {
                 margin:10px;
                 padding:0px;
                 > div {
                     margin:0px;
                     padding:0px;
                     label {
                         color:@white;
                     }
                     .wpcf7-form-control-wrap {
                         input, textarea {
                             display:inline-block;
                             border:solid 1px @white;
                             border-radius:5px;
                             @media (min-width: @screen-lg-min) {
                                 width:150px;
                             }
                             @media (max-width: @screen-lg-min) and (min-width: @screen-md-min) {
                                 width:120px;
                             }
                             @media (max-width: @screen-md-min) {
                                 width:150px;
                             }
                         }
                     }
                     .wpcf7-submit {
                         background:url("../img/form_submit.png") no-repeat center;
                         background-size:100%;
                         width:132px;
                         height:50px;
                         text-indent:-10000px;
                         padding:0px;
                         margin-top:10px;
                     }
                     .ajax-loader {
                         display:none;
                     }
                 }
             }
         }
     }
}

.dmbs-right {

}

.dmbs-footer-menu {

}

.dmbs-author-credits {

}

.dmbs-footer {

}

.more-info {
    margin-top:20px;
    > div {
        margin-bottom:10px;
        img {
            width:100%;
        }
    }
}

.ad-scroll {
    #ivrss_holder2 {
        height:100%;
        img {
            width:100%;
        }
    }
}

.office-contact {
    background-color:@white;
    margin:0;
    margin-top:10px;
    .office-email {
        p {
            margin:0px;
            padding:10px 0;
            font-weight:bold;
            font-size:16px;
        }
    }
    .office-address {
        margin:0px;
        > div {
            margin:0px;
            > div {
                margin:5px;
                padding:10px;
                background-color:@brand-header-bg;
                h5 {
                    font-weight:bold;
                }
                p {
                    margin-bottom:5px;
                }
            }
        }
    }
}

.school-contact {
    background-color:@white;
    margin:0;
    padding:0 20px 10px 20px;
    margin-bottom:10px;
    .schools-contact-title {
        margin-bottom:10px;
        border-bottom:solid 1px #303030;
        h4 {
            font-weight:bold;
        }
    }
    .schools-contact-link {
        margin:0px;
        > div {
            padding:0px;
            p {
                margin:0px;padding:0px;
                a{
                    color:#303030;
                    font-size:12px;
                    &:hover {
                        text-decoration:none;
                    }
                }
            }
        }
    }
}

.footer-link {
    background-color:@footer-link-bg;
    padding:20px;
    > div {
        padding-left:20px;
        margin:none;
        h4 {
            color:@white;
            font-weight:bold;
        }
        p {
            margin-bottom:5px;
            a{
                color:@white;
                &:hover {
                    text-decoration:none;
                }
            }
        }
    }
}

.copyright {
    padding-top:15px;
}
